# Archivos específicos del usuario
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.userprefs

# Archivos temporales y de compilación
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
**/bin/
**/obj/
*.pdb
*.tmp
*.log
*.tlog
*.cache
*.dbmdl
*.vspscc
*.vssscc
*.pidb

# Carpeta de configuración de Visual Studio
.vs/
.vscode/
*.vsconfig

# NuGet
*.nupkg
*.snupkg
**/packages/
!**/packages/build/
*.nuspec
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

# Archivos generados por pruebas y cobertura
TestResult.xml
*.trx
*.coverage
*.coveragexml
BenchmarkDotNet.Artifacts/
coverage*.json
coverage*.xml
coverage*.info

# Azure, publish y otros artefactos de despliegue
publish/
*.pubxml
*.publishproj
PublishScripts/
*.azurePubxml
AppPackages/
BundleArtifacts/

# Node.js y Python en proyectos híbridos
node_modules/
__pycache__/
*.pyc

# Archivos innecesarios o de respaldo
*.bak
*~ 
~$*
.DS_Store
Thumbs.db
.history/

# Herramientas adicionales
_ReSharper*/
_TeamCity*
.axoCover/*
*.DotSettings.user
.idea/
.aws-sam/
.mfractor/
.ionide/
.fakes/

# Ignorar por seguridad
*.pfx
*.snk